<div class="container mt-5">
  <h1><%= @restaurant.name %></h1>
  <div class="mt-5 mb-5">
    <div>
      <h4>Address:</h4>
      <%= @restaurant.address %>
    </div>
    <hr>

    <p>
      <h4>Phone number:</h4>
      <%= @restaurant.phone_number %>
    </p>
    <hr>

    <p>
      <h4>Category:</h4>
      <%= @restaurant.category %>
    </p>
    <hr>

    <p>
      <h4>Rating(s):</h4>
      <% @restaurant.reviews.each do |review| %>
        <li>
          <%= review.content %>
        </li>
      <% end %>
    </p>
  </div>

  <%= link_to "Add a review", new_restaurant_review_path(@restaurant), class: 'btn btn-primary' %><br><br>
  <%= link_to 'Back', restaurants_path, class: 'btn btn-dark' %>
</div>
